<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxw.myMall.admin.mapper.ItemImgIMapper">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.zxw.myMall.admin.bean.ItemImgBean">
		<result column="id" property="id" />
		<result column="item_detail_code" property="itemDetailCode" />
		<result column="url" property="url" />
		<result column="type" property="type" />
	</resultMap>

	<!-- table all fields   sql片段 -->
	<sql id="Base_Column_List">
		id, item_detail_code, url, type
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="itemDetailCode != null and itemDetailCode != ''">
				and item_detail_code = #{itemDetailCode}
			</if>
			<if test="url != null and url != ''">
				and url = #{url}
			</if>
			<if test="type != null and type != ''">
				and type = #{type}
			</if>
	</sql>

	<!-- 插入记录 -->
	<!--selectKey  会将 SELECT LAST_INSERT_ID()的结果放入到传入的model的主键里面，  
        keyProperty 对应的model中的主键的属性名，这里是 user 中的id，因为它跟数据库的主键对应  
        order AFTER 表示 SELECT LAST_INSERT_ID() 在insert执行之后执行,多用与自增主键，  
              BEFORE 表示 SELECT LAST_INSERT_ID() 在insert执行之前执行，这样的话就拿不到主键了，  
                    这种适合那种主键不是自增的类型  
        resultType 主键类型 -->  
<!-- 		<selectKey resultType="java.lang.Integer"  -->
<!-- 		order="AFTER" keyProperty="id"> -->
<!-- 			SELECT LAST_INSERT_ID() -->
<!-- 		</selectKey> -->
	<insert id="insert" parameterType="Object">
		insert into mall.item_img(item_detail_code, url, type)
		values(#{itemDetailCode}, #{url}, #{type})
	</insert>
	
	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from mall.item_img where id = #{id}
	</delete>
	
	<delete id="deleteModel" parameterType="Object">
		delete from mall.item_img 
		<include refid="Example_Where_Clause" />
	</delete>

	<!-- 根据，修改记录 -->
	<update id="update" parameterType="Object">
		update mall.item_img set
				type = #{type}
		where  item_detail_code = #{itemDetailCode}			
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateActive" parameterType="Object">
		update mall.item_img set 
		<trim suffixOverrides=",">
			<if test="itemDetailCode != null and itemDetailCode != '' ">
				item_detail_code = #{itemDetailCode},
			</if>
			<if test="url != null and url != '' ">
				url = #{url},
			</if>
			<if test="type != null and type != '' ">
				type = #{type},
			</if>
		</trim>
		where url = #{url}
	</update>

	<!-- 根据查询 系统用户 -->
	<select id="selectId" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from mall.item_img where item_detail_code = #{itemDetailCode}
	</select>

	<!-- 系统用户 列表总数 -->
	<select id="selectCount" resultType="java.lang.Integer" 
	parameterType="Object">
		select count(1) from mall.item_img
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询系统用户列表 -->
	<select id="selectModel" resultMap="BaseResultMap" parameterType="Object">
		select id, item_detail_code, url, type
		from mall.item_img
		<include refid="Example_Where_Clause" />
		order by type desc
<!-- 		<if test="pager.orderCondition != null and pager.orderCondition != ''"> -->
<!-- 			${pager.orderCondition} -->
<!-- 		</if> -->
<!-- 		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''"> -->
<!-- 			${pager.mysqlQueryCondition} -->
<!-- 		</if> -->
	</select>
	
	<!-- 查询系统用户列表 -->
	<select id="selectAll" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from mall.item_img
		where 	
		item_detail_code = #{itemDetailCode}
<!-- 		<if test="pager.orderCondition != null and pager.orderCondition != ''"> -->
<!-- 			${pager.orderCondition} -->
<!-- 		</if> -->
	</select>

</mapper>   
