<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxw.myMall.admin.mapper.OrderIMapper">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.zxw.myMall.admin.bean.OrderBean">
		<result column="id" property="id" />
		<result column="code" property="code" />
		<result column="user_code" property="userCode" />
		<result column="time" property="time" />
		<result column="addr_code" property="addrCode" />
		<result column="state" property="state" />
	</resultMap>

	<!-- table all fields   sql片段 -->
	<sql id="Base_Column_List">
		id, code, user_code, time,addr_code,state
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="code != null and code != ''">
				and code = #{code}
			</if>
			<if test="userCode != null and userCode != ''">
				and user_code = #{userCode}
			</if>
			<if test="addrCode != null and addrCode != ''">
				and addr_code = #{addrCode}
			</if>
			<if test="time != null and time != ''">
				and time = #{time}
			</if>
			<if test="state != null and state != ''">
				and state = #{state}
			</if>
	</sql>

	<!-- 插入记录 -->
	<!--selectKey  会将 SELECT LAST_INSERT_ID()的结果放入到传入的model的主键里面，  
        keyProperty 对应的model中的主键的属性名，这里是 user 中的id，因为它跟数据库的主键对应  
        order AFTER 表示 SELECT LAST_INSERT_ID() 在insert执行之后执行,多用与自增主键，  
              BEFORE 表示 SELECT LAST_INSERT_ID() 在insert执行之前执行，这样的话就拿不到主键了，  
                    这种适合那种主键不是自增的类型  
        resultType 主键类型 -->  
<!-- 		<selectKey resultType="java.lang.Integer"  -->
<!-- 		order="AFTER" keyProperty="id"> -->
<!-- 			SELECT LAST_INSERT_ID() -->
<!-- 		</selectKey> -->
	<insert id="insert" parameterType="Object">
		insert into mall.order(code, user_code, time, addr_code,state)
		values(#{code}, #{userCode}, #{time}, #{addrCode}, #{state})
	</insert>
	
	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from mall.order where id = #{id}
	</delete>
	
	<delete id="deleteModel" parameterType="Object">
		delete from mall.order 
		<include refid="Example_Where_Clause" />
	</delete>

	<!-- 根据，修改记录 -->
	<update id="update" parameterType="Object">
		update mall.order set
		time = #{time}, user_code = #{userCode},addr_code = #{addrCode}, state = #{state}
		where id = #{id}
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateActive" parameterType="Object">
		update mall.order set 
		<trim suffixOverrides=",">
			<if test="time != null and time != '' ">
				time = #{time},
			</if>
			<if test="userCode != null and userCode != '' ">
				user_code = #{userCode},
			</if>
			<if test="addrCode != null and addrCode != '' ">
				addr_code = #{addrCode},
			</if>
			<if test="state != null and state != '' ">
				state = #{state},
			</if>
		</trim>
		where id = #{id}
	</update>

	<!-- 根据查询 系统用户 -->
	<select id="selectId" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from mall.order where id = #{id}
	</select>

	<!-- 系统用户 列表总数 -->
	<select id="selectCount" resultType="java.lang.Integer" 
	parameterType="Object">
		select count(1) from mall.order
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询系统用户列表 -->
	<select id="selectModel" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from mall.order		
		where 1=1
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="code != null and code != ''">
				and code like #{code}
			</if>
			<if test="userCode != null and userCode != ''">
				and user_code like #{userCode}
			</if>
			<if test="addrCode != null and addrCode != ''">
				and addr_code like #{addrCode}
			</if>
			<if test="time != null and time != ''">
				and time = #{time}
			</if>
			<if test="state != null and state != ''">
				and state = #{state}
			</if>
		<if test="rowStart != -1">
			limit #{rowStart},#{pageLimit}
		</if>
<!-- 		<if test="pager.orderCondition != null and pager.orderCondition != ''"> -->
<!-- 			${pager.orderCondition} -->
<!-- 		</if> -->
<!-- 		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''"> -->
<!-- 			${pager.mysqlQueryCondition} -->
<!-- 		</if> -->
	</select>
	
	<!-- 查询系统用户列表 -->
	<select id="selectAll" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from mall.order
		<include refid="Example_Where_Clause" />
		<if test="rowStart != -1">
			limit #{rowStart},#{pageLimit}
		</if>
<!-- 		<if test="pager.orderCondition != null and pager.orderCondition != ''"> -->
<!-- 			${pager.orderCondition} -->
<!-- 		</if> -->
	</select>

</mapper>   
